syntax: glob

# prject specific

dbg.js
tst/sglApp.js
tst/d/eml/**

# common

node_modules
.idea/
nbproject/
.run
.dld
.pcs
.tmp
.tst
~*
build/Release

desktop.ini

logs
*.log

pids
*.pid
*.seed

lib-cov
coverage
.grunt
.lock-wscript

